<!DOCTYPE html>
<html>
<title>Discogs Searcher</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<style>
    input[type=text] {
        width: 130px;
        height: 38px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('https://www.w3schools.com/howto/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 20%;
    }
</style>

<div class="w3-main">

    <!-- Header -->
    <header id="portfolio">
        <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
            <h1><b>Discogs Database</b></h1>
            <div class="w3-section w3-bottombar w3-padding-16">
                <form action="" method="get">
                    <span class="w3-margin-right">Title:</span>
                    <input type="text" name="title" placeholder="Search..">
                    <!--<br><br>-->
                    <span class="w3-margin-right">Artist:</span>
                    <input type="text" name="artist" placeholder="Search..">
                    <!--<br><br>-->
                    <span class="w3-margin-right">Year Release:</span>
                    <input type="text" name="year" placeholder="Search..">
                    <!--<br><br>-->
                    <span class="w3-margin-right">Genre:</span>
                    <input type="text" name="genre" placeholder="Search..">
                    <!--<br><br><br>-->
                    <input type="submit" value="Search">
                </form>

            </div>
        </div>
    </header>

    <!-- First Photo Grid-->
    <div class="w3-row-padding">
        {% for album in albums %}
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="/w3images/mountains.jpg" alt="" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Title: {{ album.title | safe }}  </b></p>
                <p> Artist: {{ album.artist | safe }}</p>
                <p> Genre: {{ album.genre | safe }}</p>
                <p> Year: {{ album.year | safe }}</p>
                <p> Tracks: </p>
                <ul>
                {% for track in album.tracklist %}
                    <li> {{track.title|safe}} - {{track.duration|safe}} </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Second Photo Grid-->


    <!-- Pagination -->
    <!--<div class="w3-center w3-padding-32">-->
        <!--<div class="w3-bar">-->
            <!--<a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>-->
            <!--<a href="#" class="w3-bar-item w3-black w3-button">1</a>-->
            <!--<a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>-->
            <!--<a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>-->
            <!--<a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>-->
            <!--<a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>-->
        <!--</div>-->
    <!--</div>-->


    <!-- End page content -->
</div>


</body>
</html>
